.br-10 {
    border-radius: 10px !important;
}
.border {
    border: 1px solid #DAE1E7 !important;
}
.border-black {
    border: 1px solid #000;
}
.border-r {
    border-right:  1px solid #DAE1E7;
}
.border-r-n-grey {
    
    border-left: 1px solid #DAE1E7;
    border-top: 1px solid #DAE1E7;
    border-bottom: 1px solid #DAE1E7;
}

.bg-grey-light {
    background-color: #F6F9FC;
}