h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
.text-14 {
    font-size: 14px;
}
.text-12 {
    font-size: 12px;
}
.f-600 {
    font-weight: 600;
}
.text-40 {
    font-size: 40px;
}
.text-18 {
    font-size: 18px !important;
}
.text-sm {
    font-size: 12px;
}
.flex-1 {
    flex: 1;
}